{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <link rel="icon" href="{% static '/images/logo4.png' %}" sizes="64x64" type="image/png">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div class="main-header">
        <div class="header">
            <div class="header-part1">
                <ul>
                    <li><img src="{% static '/images/logo4.png' %}" alt="" style="background-repeat: no-repeat; background-size: cover;background-position: center; width: 100px; height: 100px;"></li>
                    <li><a href="/" style="text-decoration: none; color: #f39c12;">Home</a></li>
                    <li>About</li>
                    <li><a href="contactus" style="text-decoration: none; color: #f39c12;">Contact Us</a></li>
               
                </ul>
            </div>
            <div class="header-part2">
                <div class="twobtn">
                   {% comment %}
                     <button class="regBtn">Register</button>
                   {% endcomment %}
                    <a href="studentlogout">
                    <button class="loginBtn">logout</button>
                    </a>

                </div>
                
               
            </div>
          
         
        </div>
        <div class="inner-mains2">
            <div class="FileComplaintdiv">
                <button><a href="{% url 'complaint' %}">File A Complaint</a></button>
            </div>
            <div class="FileComplaintdiv2">
                <button><a href="{% url 'StudentComplaintHistory' %} ">View Complaint History</a></button>
            </div>
          
          
        
          
                

        </div>
      
    </div>
    
</body>
</html>