{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home2</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div class="main-header">
        <div class="header">
            <div class="header-part1">
                <ul>
                    <li><img src="{% static '/images/logo4.png' %}" alt="" style="background-repeat: no-repeat; background-size: cover;background-position: center; width: 100px; height: 100px;"></li>
                    <li>Home</li>
                    <li>About</li>
                </ul>
            </div>
            <div class="header-part2">
                <div class="twobtn">
                    <button class="regBtn">Register</button>
                    <a href="studentlogout">
                    <button class="loginBtn">logout</button>
                    </a>

                </div>
                
               
            </div>
          
         
        </div>
        <div class="inner-mains2">
            <div class="FileComplaintdiv">
                <button><a href="">File A Complaint</a></button>
            </div>
            <div class="FileComplaintdiv2">
                <button><a href="">View Complaint History</a></button>
            </div>
          
          
        
          
                

        </div>
      
    </div>
    
</body>
</html>