{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home2</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div class="main-header">
        <div class="header">
            <div class="header-part1">
                <ul>
                    <li>Logo</li>
                    <li>Home</li>
                    <li>About</li>
                </ul>
            </div>
            <div class="header-part2">
                <div class="twobtn">
                    <button class="regBtn">Register</button>
                    <button class="loginBtn">login</button>

                </div>
                
               
            </div>
          
         
        </div>
        <div class="inner-mains2">
            <div class="FileComplaintdiv">
                <button>File A Complaint</button>
            </div>
            <div class="FileComplaintdiv2">
                <button>View Complaint History</button>
            </div>
          
          
        
          
                

        </div>
      
    </div>
    
</body>
</html>