{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" href="{% static '/images/logo4.png' %}" sizes="64x64" type="image/png">
    <link rel="stylesheet" href="{% static '/css/style2.css' %}">
</head>
<body>
    <div class="main-header">
        <div class="header">
            <div class="header-part1">
                <ul>
                    <li><img src="{% static '/images/logo4.png' %}" alt="" style="background-repeat: no-repeat; background-size: cover;background-position: center; width: 50px; height: 50px;"></li>
                    <li><a href="/" style="text-decoration: none; color: #f39c12;">Home</a></li>
                    <li>About</li>
                    <li><a href="contactus" style="text-decoration: none; color: #f39c12;">Contact Us</a></li>

                </ul>
            </div>
            <div class="header-part2">
                <div class="twobtn">
                    {% comment %}
                        <a href="registration">
                        <button class="regBtn">Register</button>
                        </a>
                    {% endcomment %}
                    <a href="facultylogout">
                    <button class="loginBtn">logout</button>
                    </a>
                </div>
                
               
            </div>
        </div>
        <div class="inner-mains">
            <div class="FileComplaintdiv">
                <button><a href="{% url 'FacultyAllComplaints' %}">View Complaints</a></button>
            </div>
            {% comment %}
                <div class="imgContainer">
                    <img src="{% static '/images/complaint2.jpg' %}" alt="complaint">
    
                </div>
            {% endcomment %}
        </div>
    </div>
</body>
</html>