{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You Page</title>
    <link rel="icon" href="{% static '/images/logo4.png' %}" sizes="64x64" type="image/png">
    <link rel="stylesheet" href="{% static '/css/style3.css' %}">
</head>
<body>
    <div class="main">
        
        <div class="inner-main">
            
            <div class="thankDiv">
                <div class="thankYouContainer">
                    <h2>You are successfully logged out</h2>
                    </div>
                 
                    <button class="backHomeBtn"><a href="home" style="text-decoration: none; color: #ffff;">Go To Home</a></button>

            </div>     
        </div>
    </div> 
</body>
</html>