{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="icon" href="{% static '/images/logo4.png' %}" sizes="64x64" type="image/png">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <style>
          .error-label {
            color: red;
            /* text-align: center; */
            margin-top: -10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="inner-main">
            <div class="login-img">
                <h2 class="img-head">WELCOME <br><span style="color: #2c3e50; font-size: 1.2rem;">TO STUDENT COMPLAINT PORTAL</span></h2>
                <p class="img-p">Login to access your account</p>
                <img src="{% static '/images/img1.jpg' %}" alt="img" class="img-container">
            </div>
            <div class="login-page">

                <h2 class="login-heading">FACULTY LOGIN</h2>
                <p class="login-p">Enter Your account details</p>
                <form action="facultylogin" class="login-form" method="POST">

                    {% csrf_token %}

                    <label for="" class="label">Email</label>
                    <input type="email" name="facultyemail" id="" class="inputs" placeholder="Enter Email" required>
                    <label for="" class="label">Password</label>
                    <input type="password" name="facultypwd" id="" class="inputs" placeholder="Enter password" required><br>
                    
                    {% for message in messages %}
                    
                    <label  class="error-label"> {{message}} </label>

                    {% endfor %}

                    <button type="submit" class="login-btn">Login</button><br>
                    
                </form>
            
            </div>
        </div>
    </div>
    
</body>
</html>