{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

</head>
<body>
    <div class="main">
        <div class="inner-main" style="flex-direction: column; justify-content:flex-start;">
            <h1 class="feedbackHeader">Give Your Feedback Here!</h1>

            <div class="feedback-box">
                <div class="box1">
                    <form action="" class="feedback-form">
                        <label for="" class="label">Full Name</label>
                        <input type="text" name="fullname" id="" class="inputs">
                        <label for="" class="label">Email Address</label>
                        <input type="email" name="eid" id="" class="inputs">
                        <label for="" class="label">Your Opinion</label><br>
                        <textarea name="opinion" id="" class="feedbacktextArea"></textarea><br>
                        <button type="submit" class="feedbackBtn">Submit</button>

                    </form>
                   
                </div>
                <div class="box2">
                    <img src="../images/img5.png" alt="" class="feedback-img">
                </div>


            
            </div>


        </div>
    </div>
    
</body>
</html>