{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roles</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <div class="main-header">
        <div class="header">
            <div class="header-part1">
                <ul>
                    <li>Logo</li>
                    <li>Home</li>
                    <li>About</li>
                </ul>
            </div>
            <div class="header-part2">
                <div class="twobtn">
                    <button class="regBtn">Register</button>
                    <button class="loginBtn">login</button>
                </div>
            </div>
        </div>
        <div class="inner-mains">
            <div class="StudentContainer">
                <div class="card">
                    <div class="btnContainer">
                        <button>Student</button>
                    </div>
                    
                    <div class="imgcontainer">
                        <img src="{% static '/images/student.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="TeacherContainer">
                <div class="card">
                    <div class="btnContainer">
                        <button>Teacher</button>
                    </div>
                    <div class="imgcontainer">
                        <img src="{% static '/images/teachers.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>