{%  load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FacultyComplaints</title>
    <link rel="icon" href="{% static '/images/logo4.png' %}" sizes="64x64" type="image/png">
    <link rel="stylesheet" href="{% static '/css/style3.css' %}">
</head>
<body>
    <div class="main-complaint">
        <div class="header">
            <div class="header-part1">
                <ul>
                    <!-- <li><img src="../images/logo4.png" alt="" style="background-repeat: no-repeat; background-size: cover;background-position: center; width: 100px; height: 100px;"></li> -->
                    <li><a href="/" style="text-decoration: none; color: #f39c12;">Home</a></li>
                    <li>About</li>
                </ul>
            </div>
            <div class="header-part2">
                <div class="twobtn">
                 
                       {% comment %}
                        <button class="regBtn">Register</button>
                       {% endcomment %}
                       {% comment %}
                        <a href="facultylogout">
                        <button class="loginBtn">logout</button>
                        </a>
                       {% endcomment %}
                </div>
            
            </div>
        </div>
        <div class="TwoBoxes">
        <div class="inner-mains">
            <div class="complaints-Types">
                <a href="StudentComplaintHistory"><button>All Complaints</button></a>
                <a href="StudentSolvedComplaints"><button>Solved Complaints</button></a>
                <a href="StudentUnsolvedComplaints"><button>Unsolved Complaints</button></a>
                <a href="StudentInprogressComplaints"><button>In Progress Complaints</button></a>

                
            </div>
              
         


        </div>
        <div class="AllComplaints">
            <div class="" style= "">
          
            <h3 style="text-overflow: ellipsis; ">{{ val }}</h3>
            
            </div>
            
            <select name="ComplaintType" id="" class="inputs">
                <option value="1">Campus Problem</option>
                <option value="2">bullying</option>
                <option value="3">faculty</option>
                <option value="4">canteen</option>
                <option value="5">other</option>
               </select>
        
        
        
        <div class="AllComplaints">
            {% for item in result %}
            <div class="complaint1">
                <h3 style="text-overflow: ellipsis; ">{{ item.description }}</h3>
                <button><a href=" {% url 'StudentComplaintDetail' id=item.id %}">View Details</a></button>
            </div>
          {% endfor %}
          

        </div>
    </div>
     
    
    </div>
 
    
</body>
</html>