{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You Page</title>
    <link rel="stylesheet" href="{% static '/css/style3.css' %}">
</head>
<body>
    <div class="main">
        
        <div class="inner-main">
            
            <div class="thankDiv">
                <div class="thankYouContainer">
                    <h2>You are successfully logged out</h2>
                    </div>
                  
                    <button class="backHomeBtn">Go To Home</button>
    
            </div>     
        </div>
    </div> 
</body>
</html>