{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You Page</title>
    <link rel="stylesheet" href="{% static '/css/style3.css' %}">
    <style>
        a {
            text-decoration: none;
            color: white;
        }
    </style>
</head>
<body>
    <div class="main">
        
        <div class="inner-main">
            
            <div class="thankDiv">
                <div class="thankYouContainer">
                    <h2>You're Complaint Has been Successfully Registered</h2>
                    </div>
                <button class="backHomeBtn"><a href="" >Go To Home</a></button>
            </div>     
        </div>
    </div> 
</body>
</html>